* {
	padding: 0;
	margin: 0;
	list-style: none;
	border: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	outline: 0;
}

html,
body {
	height: 100%;
	background: #000;
}

#root {
	height: 100%;
	display: flex;
	align-items: center;
}

.tweet-settings {
	flex: 1; // make this element cover the available space
	color: #fff;
	border-right: solid 1px #2f3336;
	height: 100%;
	padding: 25px;
	h3 {
		font-size: 24px;
		font-weight: normal;
		border-bottom: 1px solid #2f3336;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	ul {
		li:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	label {
		font-size: 15px;
		display: block;
		margin-bottom: 5px;
		opacity: 0.7;
	}
	.input {
		width: 100%;
		background: transparent;
		border-bottom: 1px solid #2f3336;
		padding: 10px 0 15px;
		color: #fff;
		font-size: 15px;
		&::placeholder {
			color: #fff;
		}
		&:focus {
			border-color: #4e555a;
		}
	}
	.textarea {
		width: 100%;
		background: transparent;
		border-bottom: 1px solid #2f3336;
		padding: 10px 0 15px;
		color: #fff;
		font-size: 15px;
		line-height: 1.5;
		resize: none;
		&::placeholder {
			color: #fff;
		}
		&:focus {
			border-color: #4e555a;
		}
	}
}

.tweet-container {
	padding: 0 50px;
}

.tweet {
	border: 1px solid #2f3336;
	width: 600px;
	margin: 25px auto;
	padding: 0 16px;
	&-author {
		height: 48px;
		margin-top: 12px;
		margin-bottom: 4px;
		display: flex;
		align-items: center;
		font-size: 15px;
		img {
			width: 48px;
			height: 48px;
			margin-right: 12px;
			border-radius: 50%;
		}
		.name {
			height: 19px;
			color: #fff;
			font-weight: 700;
			display: flex;
			align-items: center;
			svg {
				margin-left: 3px;
			}
		}
		.username {
			color: #6e767d;
		}
	}
	&-content {
		padding: 12px 0;
		p {
			font-size: 23px;
			line-height: 28px;
			color: #fff;
			// don't overflow and	skip to bottom line
			overflow-wrap: break-word;
			span {
				color: #1da1f2;
			}
		}
	}
	&-stats {
		height: 53px;
		display: flex;
		align-items: center;
		font-size: 15px;
		color: #6e767d;
		border-top: 1px solid #2f3336;
		b {
			color: #fff;
		}
		span:not(:last-child) {
			margin-right: 20px;
		}
	}
	&-actions {
		height: 48px;
		color: #fff;
		border-top: 1px solid #2f3336;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
